<div class="container-fluid bg-white">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <h2>Contact</h2>
            <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo, quam in semper
                porttitor, nisi diam
                molestie metus, nec rhoncus nisi ligula quis nisl. Sed facilisis posuere justo, sed pharetra leo varius
                vel.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="" class="w-75 mx-auto p-3">

                    <div class="row mb-3">
                        <label for="colFormLabel1" class="col-md-2 text-md-end mb-sm-3"><strong>Your
                                E-mail</strong></label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="colFormLabel1" placeholder="Your email">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel2" class="col-md-2 text-md-end mb-sm-3"><strong>Your
                                message</strong></label>
                        <div class="col-sm-10">
                            <textarea type="email" class="form-control" id="colFormLabel2"
                                placeholder="Please enter your message here..."></textarea>
                        </div>
                    </div>

                    <div class="col-auto text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>