<div class="container-fluid bg-white d-flex p-3">

    <div class="container px-4 ">
        <div class="row ">
            <div class="col-md-4 col-sm-12 col-12  text-center">
                <img class="rounded-circle img-fluid"
                    src="https://picsum.photos/id/128/300"
                    alt="">
            </div>
            <div class="col-md-8 col-sm-12 col-12 ">
                <h4><span class="text-black fw-bold fs-1">The Second Heading </span> <span
                        class="text-secondary fw-bold fs-1">
                        Is Pretty Cool Too</span></h4>
                <p class="text-secondary fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                    sagittis
                    nunc elit. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed ac commodo purus, sed
                    condimentum sapien. Morbi lacinia sit amet nibh sollicitudin accumsan. In maximus lobortis elit </p>
            </div>
           
        </div>
    </div>
</div>